.container {
  width: 44%;
  margin-left: 27%;
  overflow: auto;
  margin-top: 41px;
  height: 585px;
  background-color: #008080;
  padding: 20px;
  border-radius: 10px;
}
.container::-webkit-scrollbar {
  display: none;
}
.notificationHeaderText {
  font-size: xx-large;
  margin-left: 15px;
  width: 85%;
  font-family: fantasy;
}
